set colored-completion-prefix on
set enable-bracketed-paste on
set editing-mode vi

$if mode=vi
set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen
"\C-x\C-e": edit-and-execute-command
"\C-x\C-r": re-read-init-file

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen 
"\C-x\C-e": edit-and-execute-command
"\C-x\C-r": re-read-init-file
$endif
